body {
    background-color: rgb(242, 243, 236);
}
h1 {
    color: rgb(8, 40, 87);
}
h2 {
    color: rgb(8, 40, 87);
}
p {
    color:black;
}
li {
    display: inline;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 992px;
    min-height: 100vh;

    background-color: #F2F3EC;
}