<%- include('../_partial/_header'); -%>
<h1 style="margin: 30px 0 30px 0;">Choose Industry</h1>

<p style="margin: 20px 0 0 0; color:black; ">Which industry is of your interest? (Choose 1 Industry)</p>
<p style="margin: 0 0 20px 0; color:gray; ">Other industries are coming soon...</p>

<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;">
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Consumer Staples </label>
    </div>
</form>

<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label" style= "color:black;" for="validationFormCheck1">Consumer Discretionary</label>
    </div>
</form>

<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="invalidationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Health Care </label>
    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Financials </label>
    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Information Technology </label>

    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Materials </label>
    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Real Estate </label>
    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Industrials </label>
    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Communication Services </label>
    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Energy </label>
    </div>
</form>
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="validationFormCheck1" style= "border-color:black;" disabled>
        <label class="form-check-label"  style= "color:black;" for="validationFormCheck1"> Utilities </label>
    </div>
</form>





<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Health Care
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Financials
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Information Technology
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Materials
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Real Estate
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Industrials
    </label> -->
<!-- </div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Communication Services
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Consumer Staples
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Energy
    </label>
</div> -->
<!-- <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
        Utilities
    </label>
</div> -->
<a class="btn btn-light btn-lg" href="/firstFloor" role="button" style="margin:50px 0 0 0; color: rgb(8, 40, 87);">Confirm and Start the Journey</a>
<%- include ('../_partial/_footer'); -%>