<%- include('../_partial/_header'); -%>




<h1 style="margin:100px 0 0 0;">This is the end of your journey!</h1>
<h3 style="margin:10px 0 60px 0; color: rgb(8, 40, 87);">Now it's time to reveal the real name of each company. </h3>
<p>A: Walmart Inc</p>
<p>
    B: Japan Tobacco Inc (JTI)
</p>
<p>
    C: Unilever PLC
</p>
<p>
    D: Hershey's
</p>
<p>
    E: British American Tobacco p.l.c (BAT)
</p> 
<a style="margin:50px 0 60px 0; color: rgb(8, 40, 87);" class="btn btn-light btn-lg start-button" href="/chooseIndustry" role="button">You can try other industries</a>


<%- include ('../_partial/_footer'); -%>
