<%- include('../_partial/_header'); -%>
<h1 style="margin: 30px 0 30px 0;">Introduction of ESG Investment</h1>


<video controls height = "441px" width = "775px">

  <source src="/video/ESGintroduction.mp4"
          type="video/mp4" >
</video>


<a class="btn btn-light btn-lg" href="/enterUsername" role="button" style="margin: 30px 0 0 0; color: rgb(8, 40, 87);">Start the Game</a>


<%- include ('../_partial/_footer'); -%>

