<%- include('../_partial/_header'); -%>
<style>
    .fail-image {
        width: 940px;
        height: 525px;
        min-height: 100px;
        margin-top: 10px;
    }


</style>

   
    <img class=img_1 src="/images/Fail/Mission_Failed.png" style="width: 80%; margin-top: 60px; " />
    <p class="word-1" style="font-size: 25px; margin-top: 60px; margin-bottom: 20px; text-align: center;">Sorry, you did not pass the test of the God of Stocks.<br>You can choose to start the challenge again! </p>
    <img class=img_2 src="/images/Fail/cry.png"  />
    




<a class="btn btn-light btn-lg" href="/home" role="button" >Restart</a>
<%- include ('../_partial/_footer'); -%>
