<%- include('../_partial/_header'); -%>


<style>
  .head {
    text-align: center;
    color: rgb(8, 40, 87);
    /* 相等 margin-top: 70px; */ 
    margin: 180px 0 50px 0;
  }
  .discription {
    color: black;
    text-align: center;
    margin-bottom: 60px;

  }
  .start-button {
    color: rgb(8, 40, 87);
  }

</style>
<h1 class="head">
  Welcome to the Game "Who is the Next God of Stocks"!
</h1>

<!-- <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 60px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div> -->

<p class="discription">
  Want to explore sustainable investment but tired of reviewing the lengthy literature?<br>
  We provide another choice for you! <br>
  This is an interactive game which carries the popular form of an escape room. <br>
  You can explore ESG principles in the process of collecting clues and trading stocks. <br>
  Get involved in us and enjoy your own exclusive investment journey!
</p>
<a class="btn btn-light btn-lg start-button" href="/about" role="button">Ready to Start</a>

<%- include ('../_partial/_footer'); -%>